@model GrocerStorePro.Models.ViewSignIn
@{
    ViewBag.Title = "Đăng nhập";
}
@Html.Action("SearchHeader", "Product")
<section class="shoping-cart spad">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-md-6 d-none d-md-flex bg-image"></div>
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-xl-6 mx-auto">
                                <h6 style="font-size: 30px; font-weight: bold" class="display-4">Đăng nhập mua hàng!!</h6> <br>
                                <form action="" method="post">
                                    @if (ViewBag.Noti != null)
                                    {
                                        <center>
                                            <p class="text-danger">@ViewBag.Noti</p>
                                        </center>
                                    }
                                    <div class="form-group mb-3"> <input name="UserName" id="inputEmail" type="email" placeholder="Nhập tài khoản hoặc email" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4"> </div>
                                    <div class="form-group mb-3"> <input name="Password" id="inputPassword" type="password" placeholder="Mật khẩu" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-danger"><br> </div>
                                    <div class="custom-control custom-checkbox mb-3"> <input id="customCheck1" type="checkbox" checked class="custom-control-input"> <label for="customCheck1" class="custom-control-label">Nhớ mật khẩu</label> </div> <button type="submit" class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm">Đăng nhập</button>
                                    <div class="text-center d-flex justify-content-between mt-4">
                                        <p> Hoặc &nbsp<a href="/Account/Register" class="font-italic text-muted"> <u>Tạo tài khoản mua sắm</u></a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

<style>
    .login,
    .image {
        min-height: 200px
    }

    .bg-image {
        background-image: url('../Images/Users/R20bf8f82124f1d46e7db708b9db96a8d.jpg');
        background-size: cover;
        background-position: center center
    }
</style>